.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
    width: 90%;
    margin: auto;
}

.component-controller{
margin:  40px 0;
}