.poster-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 200px;
    height: 100px;
    padding: 20px 20px;
    margin: 6px;
    position: relative;
}
.poster-container img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: auto;
    transition: 0.3s;
    cursor: pointer;
}

  .poster-options{
    background-color: transparent;
    font-weight: bold;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    border: none;
    position: absolute;
    left: 87%;
    top: 2%;
 }

 .poster-options:hover{
    background-color: rgba(27, 27, 27, 0.144);
    border-radius: 50%;
    transition: transform 300ms ease-in-out;
 }

.poster-options-menu{
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 1000;
    top: 3vh;
    left:97%
 }

   .poster-options-menu button:hover{
    background-color: var(--primary-color-light);     
    transition: transform 300ms ease-in-out;
 }
 .poster-options-menu button{
    gap: 0px;
    margin:0px;
    border-radius: 0px;
    width: 9vh;
    height: 3vh;
    background-color: var(--primary-color);
 }
