.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.offered-product-container{
    box-shadow: 0px 0px 7px #666;
    width: 159px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-left: 2px;
    margin-right: 1px;
    margin-top: 10px;
    margin-bottom: 15px;
    z-index: 10;
}


.offer-slide-div{
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 300ms ease-in-out;
    z-index: 10;
}

.offer-slide-show{
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1320px;
    height: 280px;
    top: 200px;
    overflow: hidden;
    background-color: blue;
    z-index: 10;
    position: relative;

}

.left-product{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.right-product{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.product-arrow-left{
    left: 1rem;}

.product-arrow-right{
    right: 1rem;
}

.product-arrow{
    position: absolute;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    filter: drop-shadow(0px 0px 5px #555);
    transition: opacity 0.3s ease-in-out;
    z-index: 11;

}

.offers-slide-poster{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: flex-end;
    width: 159px;
    height: 100%;
    margin-left: 180px;
}

.offers-text{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.Logo{
    width: 120px;
    height: 120px;
}

.timer-container{
    width: 50%;
    padding: 10px 0;
}

.timer{
    color: rgb(48, 48, 48);
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}

.timer-bg{
    background-color: white;
    border-radius: 5PX;
}
.timer-dot{
    color: white;
}

.hidden{
    opacity:0 ;
}

.btn-view-all{
    position: absolute;
    cursor: pointer;
    color: blue;
    border-color: blue;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    transition: opacity 0.3s ease-in-out;
}

.view-all-text{
    color: black;
    font-size: 30px;
    font-style: italic;
    position: absolute;
    top: 5px;
}

.view-all{
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    right: 6rem;
    top: 7rem;
}

.offered-product-image{
    box-shadow: 0px 0px 7px #666;
    width: 150px;
    height: 130px;
    display: block;
    object-fit: cover;
    flex-shrink: 0;
    flex-grow: 0;
    z-index: 10;   
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.offered-product-title{
margin-left: 5px;
margin-right: 5px;
height: 10px;
font-family: Arial, Helvetica, sans-serif;
font-size: small;
font-weight: bold;
color: rgb(36, 36, 36);
}

.offered-product-price{
margin-left: 5px;
font-weight: bold;
font-size: large;
height: 5px;
}

.offered-product-preprice{
margin-left: 5px;
text-decoration: line-through;
color: rgb(41, 41, 41);
font-weight: lighter;
}

.offer-quantity{
    display: flex;
    flex-direction: row;
}

.off-percent{
    display: flex;
    padding: 3px 0px;
    background-color: red;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 10px;
    color: white;
    width: 45px;
    align-items: center;
    justify-content: center;
}

.button-sec2{
    display: flex;
    flex-direction:column;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 200px;
    z-index: 10;
}
.button-sec2 button{
    border-radius: 100%;
    height: 70px;
    width: 70px;
    border: none;
}

.button-sec2 p{
    height: 50px;
    text-align: center;
}

#button-sec2-ul{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 235px; 
    width: 100%;
    gap: 40px;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.button2-title{
    font-weight: bold;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.button2{
    cursor: pointer;
    font-size: 40px;
}



.content-arrow{
   position: absolute;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    filter: drop-shadow(0px 0px 5px #555);
    transition: opacity 0.3s ease-in-out;
    z-index: 11; 
}



.content-arrow-left{
left: 1rem;
}

.content-arrow-right{
    right: 1rem;
}


.product-sort-li{
   list-style: none;
   width: 100px;
   height: 80%;
}

.sort-button{
    cursor: pointer;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-title{
    height: 50px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    overflow-wrap: break-word;
}

.product-sort-container{
  height: 500px;
  width: 1320px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 370px;
}

.product-sort-container div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.product-sort-ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 72px;
    align-items: center;
    transition: transform 300ms ease-in-out;
}
.product-sort-ul2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 72px;
    align-items: center;
    transition: transform 300ms ease-in-out;
    position: relative;
    top: -50px;
}


.sort-button img{
    cursor: pointer;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.sort-arrow-left{
    left: 1rem;
}

.sort-arrow-right{
    right: 1rem;
}

.sort-arrow{
    position: absolute;
    top: 195px;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    filter: drop-shadow(0px 0px 5px #555);
    transition: opacity 0.3s ease-in-out;
    z-index: 11; 
}

.picture-sec2-container{
    width: 85%;
    height: 200px;
    position: relative;
    right: 50px;
    top: 270px;
}

.picture-sec2-container ul{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style: none;
}

.popular-brands-container{
    width: 85%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 10px;
    top: 380px;
    border: rgba(34, 34, 34, 0.625) solid 1px;
    overflow: hidden;

}

.popular-brands-container ul{
    top: 20px;
    position: relative;
     width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    transition: transform 300ms ease-in-out;
    right: 29px;
}

.popular-brand-li{
   list-style: none;
   border-right: rgba(34, 34, 34, 0.625) solid 1px;
   width: 100px;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
}

.brand-img{
    cursor: pointer;
    width: 100px;
    height: 100px;
}


.brand-arrow-left{
    left: 1rem;
}

.brand-arrow-right{
    right: 1rem;
}

.brand-arrow{
    position: absolute;
    top: 110px;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    filter: drop-shadow(0px 0px 5px #555);
    transition: opacity 0.3s ease-in-out;
    z-index: 11; 
}
